#form-section {
  min-height: 80vh;
  @include flex(center, center, row);
  & > form {
    padding: 3rem 10rem;
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.2),
      0 20px 40px rgba($color: #000000, $alpha: 0.2);
    @include flex(center, center, column);
    border-radius: 2rem;
    & > input,
    > textarea {
      margin: 2rem;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      &:focus {
        outline: 2px solid black;
      }
    }
    & > button {
      width: 100%;
      padding: 2rem;
      background: $background-color;
      color: white;
      &:focus {
        background: rgb(51, 105, 107);
      }
    }
  }
}
