header {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
  & div {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    & h1 {
      margin: 2rem;
    }
  }
  & ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}
