#intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  & h2 {
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  & h3 {
    font-size: 6rem;
    padding: 2rem 0;
  }
  & p {
    padding-top: 2rem 0;
    color: $text--color-normal;
  }
}

#intro > div > div {
  margin-top: 4rem;
  & a {
    margin-right: 5rem;
  }
}

#intro > div {
  flex: 1 1 40rem;
}

.splash {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.active {
  background: $text--color-normal;
  color: white;
  padding: 1rem 3rem;
  border-radius: 20px;
}

#plant-left {
  animation: plant 1.5s ease-in-out infinite alternate;
}

#plant-right {
  animation: plant 1.5s ease-in-out infinite alternate 0.5s;
}
@keyframes plant {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30%);
  }
}

#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}
@keyframes me {
  from {
    transform: rotateZ(-2deg);
  }
  to {
    transform: rotateZ(2deg);
  }
}

#clock-arrow {
  animation: clock 3s linear infinite;
  transform-box: fill-box;
  transform-origin: bottom;
}
@keyframes clock {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
