$header--size-normal: 2.5rem;
$header--size-big: 4rem;
$header--size-small: 2rem;
$text--size-normal: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$text--color-normal: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "header";
@import "intro";
@import "projects";
@import "contact";

@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  #intro > div > svg {
    width: 80%;
  }
  header > nav {
    width: 100%;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  #intro > div > svg {
    height: 60%;
    padding: 5rem;
  }
  #intro > div:first-child {
    margin-top: 5rem;
    text-align: center;
  }
  #intro > div:first-child > div {
    @include flex(center, center, row);
    & a {
      margin: 2rem;
    }
  }
  #intro > div:last-child {
    text-align: center;
  }
  header {
    width: 100%;
  }
  header > nav {
    padding: 2rem;
  }
  header > nav > div {
    @include flex(center, center, column);
    flex: 1 1 20rem;
    margin-top: 2rem;
  }
  header > nav > ul {
    flex: 1 1 60rem;
    margin: 2rem 0;
  }

  .projects > div {
    flex: 1 1 70rem;
    & img {
      width: 100%;
    }
  }
}
